* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "sora", sans-serif;
}
/* ==================common===================== */
.container {
  width: 1170px;
  min-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.5;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
}

.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
  transition: all 0.5s;
}

.control__icon-prev {
  rotate: 180deg;
}
/* ==================header===================== */
.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-width: 100vh;
  position: sticky;
  top: -25px;
  z-index: 2;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__action {
  padding-bottom: 8px;
}

.navbar__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  padding: 8px 21px;
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  top: -3px;
  position: relative;
  right: 8px;
}

.header__action--sign-up {
  width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}

/* ==================hero====================== */

.hero {
  padding-top: 76px;
}

.hero-child {
  display: flex;
  align-items: center;
  background: #10375c;
}

.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero__heading {
  padding-top: 60px;
  width: 517px;
  color: #ffffff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
}

.hero__desc {
  padding-top: 22px;
  width: 468px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.hero__row {
  padding-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__row--btn {
  align-items: center;
  width: 205px;
  padding: 16px 0 16px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero__img--lon {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  z-index: 1;
}

.hero__img--nho {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: -6px;
}

/* ==================service====================== */

.service {
  margin-top: 170px;
  background: #fff;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 18px auto 0;
}

.service__row {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service__item {
  display: flex;
  column-gap: 19px;
  width: 470px;
  padding: 21px;
  border-radius: 10px;
  background: #fff;
}

.service__item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item:hover .service__item--icon {
  color: #fff;
  background: #2e80ce;
}

.service__item--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  transition: all 0.5s;
}

.service__item--heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service__item--desc {
  margin-top: 8px;
  width: 351px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

/* ==================works====================== */

.works {
  background: #f6fbff;
  padding: 100px 0;
}

.works__desc {
  width: 468px;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work__item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
}

.work__item:hover {
  border-color: #2e80ce;
  transition: all 0.5s;
  transform: translateY(-16px);
}

.work__item--heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.work__item--desc {
  margin-top: 28px;
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work__item--more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  line-height: 1.75;
}
/* =================about====================== */
.about {
  margin-top: 85px;
  padding: 85px 0 206px;
  background: #ffffff;
}

.about__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__images {
  width: 49%;
}

.about__img {
  position: relative;
}
.about__right {
  width: 40%;
}

.about__img--top {
  display: flex;
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--bottom {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__heading {
  width: 470px;
  margin-top: 82px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
}

.about__desc {
  width: 468px;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.about__btn {
  padding: 8px 0;
  margin: 38px 0 83px;
}
/* =================team====================== */
.team {
  padding: 85px 0;
}

.team__header {
  text-align: center;
  margin: 0 auto;
}

.team__btn {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  column-gap: 19px;
  grid-template-columns: repeat(4, 1fr);
}

.team-item__thump {
  display: block;
  height: 290px;
  max-width: 100%;
  object-fit: cover;
}

.team-item__img-bg {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}

.team-item:hover .team-item__thump {
  transform: scale(1.1);
  transition: all 0.5s;
}

.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* =================install mobile===================== */

.install__inner {
  margin: 180px 0 85px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
}

.install__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  object-fit: cover;
}

.install__content {
  max-width: 586px;
}

.install__heading {
  color: #fff;
  max-width: 489px;
}

.install__desc {
  margin-top: 18px;
  max-width: 586px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.install__row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
  align-items: center;
}
/* =================blog===================== */
.blog {
  padding: 85px 0;
  background: #fff;
}

.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__content {
  width: 40%;
}

.blog__heading {
  max-width: 470px;
}

.blog__more {
  margin-top: 50px;
  display: flex;
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.55;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.blog__control {
  margin-top: 28px;
  justify-content: flex-start;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.blog-item {
  min-width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
  transition: 0.5s;
}

.blog-item:hover {
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
  transition: all 0.5s;
}

.blog-item__wrap {
  height: 172px;
  overflow: hidden;
}

.blog-item__thumb {
  min-width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.blog-item__body {
  padding: 18px 22px;
}

.blog-item__heading {
  display: flex;
  width: 224px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}

.blog-item__desc {
  margin-top: 10px;
  width: 266px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}

.blog-item__more {
  margin-top: 12px;
  display: flex;
  color: #10375c;
  font-size: 1.4rem;
}
.blog-item__more:hover {
  color: #2e80ce;
}
/* =================appointment===================== */

.appointment {
  margin: 85px 0;
}

.appointment__inner {
  padding: 100px 178px;
  background: #f6fbff;
  text-align: center;
}

.appointment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}

.appointment__desc {
  margin-top: 18px;
  max-width: 617px;
  margin: 18px auto 0;
}

.appointment__btn {
  margin-top: 38px;
}
